.accordionSection {
  width: 100%;
}
.highlightIcon {
  margin: 5px;
}

.menu {
  width: 100%;
}

.iconText {
  display: inline-block;
  width: 33.33%;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgb(33, 42, 47);
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-size: 12px;
  text-align: center;
  vertical-align: top;
}
.iconDes {
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
}

.iconBox {
  width: 100%;
  margin-bottom: 18px;
}

.iconTitle {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: rgb(33, 42, 47);
  margin-bottom: 8px;
  padding: 10px;
  text-align: center;
}

.threeIcons {
  margin-right: 5%;
  margin-left: 5%;
}

.accordion {
  background-color:white;
  color: black;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border-style: solid none none none;
  border-color: rgb(211, 212, 213);
  outline: none;
  transition: 0.4s;
}

.list {
  text-align: left;
}

.chevron {
  float: right;
  transition: 0.5s;
}

.rotate {
  transform: rotate(180deg);
}

.accordionTitle {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: rgb(33, 42, 47);
  margin: 0px;
  padding: 0px;
}

.accordionText {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin: 0px;
  padding: 3px 11px 18px;
  color: rgb(33, 42, 47);
}

.accordionContent {
  padding: 0px;
  background-color: white;
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s ease;
}

.headerName{
  font-size: 32px;
  font-family: helvetica;
  font-weight: 700;
  line-height: 1.31;
  letter-spacing: 0.5px;
  padding: 0px;
  margin: 20px 0px 0px;
}

.headerBox{
  width: 100%
}

.headerPrice {
  font-weight: 400;
  color: rgb(33, 42, 47);
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 0px 0px 0px;
  padding: 0px;
}

.stars {
  margin: 9px 0px 18px
}