.highlightIcon {
  margin: 5px;
}

.iconText {
  display: inline-block;
  width: 33.33%;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgb(33, 42, 47);
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-size: 12px;
  text-align: center;
  vertical-align: top;
}
.iconDes {
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
}